<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tute.academicEarlyWarningManagementSystem.dao.UserMapper">
    <select id="getAllClass" resultType="java.lang.String">
        select className
        from relationship
        where teacher = #{userName}
           or advisor = #{userName}
    </select>

    <select id="getTeacherbyClassName" resultType="java.lang.Integer">
        select teacher
        from relationship
        where className = #{className}
    </select>

    <select id="getAdvisorbyClassName" resultType="java.lang.Integer">
        select advisor
        from relationship
        where className = #{className}
    </select>
</mapper>
